@import '../../styles/settings.scss';
@import '../../styles/typography.scss';

.titlebox{
    font-size: 24px;
    color: black;
    width: 60%;
    min-height: 20px;
    background-color: white;
    margin: 5px auto;
    border-radius: 10px 10px 0 0;
    opacity: 80%;
    display: flex;
    justify-content: space-between;
}

.contentbox{
    color: black;
    width:60%;
    min-height: 50px;
    background-color: white;
    margin: 5px auto;
    border-radius: 0 0 10px 10px;
    opacity: 80%;
}

.title{
    font-family: $font-text-first;
    font-size: 32px;
    padding: 10px;
    margin:0;
}

.date{
    font-family: $font-text-first;
    font-size: 32px;
    padding: 10px;
    margin:0;
}

.content{
    font-family: $font-text-second;
    font-size: 24px;
    padding: 20px;
    margin:0 0 100px 0;
}