@import '../../styles/settings.scss';
@import '../../styles/typography.scss';

.titlebox{
    box-shadow: 0 0 3px yellow;
    font-size: 24px;
    color: black;
    width: 60%;
    min-height: 20px;
    background: rgba(255,255,255,0.8);
    margin: 5px auto;
    border: solid 2px white;
    display: flex;
    justify-content: space-between;
}

.contentbox{
    box-shadow: 0 0 3px yellow;
    color: black;
    width:60%;
    min-height: 50px;
    background: rgba(255,255,255,0.8);
    margin: 0 auto 100px auto;
    border: solid 2px white;
    
}

.title{
    font-family: $font-text-second;
    font-size: 32px;
    padding: 15px;
    margin:0;
    color:black;
}

.date{
    font-family: $font-text-third;
    font-size: 32px;
    padding: 10px;
    margin:0;
    color:black;
}

.content{
    font-family: $font-text-fourth;
    font-weight: 400;
    font-size: 24px;
    padding: 20px;
    margin:0 0 100px 0;
}