@import './settings.scss';

body {
    margin: 0;
    padding: 0;
    background-image: url(bali.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;
    font-size: ($base-size * 1.1);
    color: $color-light;
    letter-spacing: 0.5px;
  }
  
  :global(.container) {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }