@import '../../styles/settings.scss';
@import '../../styles/typography.scss';


.logo{
    text-align: center;
    padding:60px 0;
}

.mainTitle{
    font-family: $font-text-first;
    text-shadow: 0 0 3px yellow, 0 0 4px orange;
    font-size: 60px;
    font-weight: 900;
}
.subTitle{
    font-family: $font-text-third;
    text-shadow: 0 0 3px yellow, 0 0 4px orange;
    font-size: 40px;

}